site_name: LinAX
repo_url: https://github.com/camail-official/linax
site_url: https://camail.org/linax/
theme:
  name: material
  features:
    - navigation.top
    - content.code.copy

  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src"] # or "." if your package is in the root

# Include additional directories for static files
extra_css: []
extra_javascript: []

nav:
  - Reference:
      - Overview: reference/index.md
      - linax: reference/linax.md
      - Blocks: reference/blocks.md
      - Channel Mixers: reference/channel_mixers.md
      - Encoders: reference/encoder.md
      - Heads: reference/heads.md
      - Models: reference/models.md
      - Sequence Mixers: reference/sequence_mixers.md
      - Utils: reference/utils.md
